Faire le profil des personnes qui cliquent le plus sur les publicit√©s.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("./dataset/instagram_users_lifestyle.csv")

df.head()        # voir les premi√®res lignes
df.info()        # types des colonnes
df.describe()    # stats g√©n√©rales

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547896 entries, 0 to 1547895
Data columns (total 58 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   user_id                         1547896 non-null  int64
 1   app_name                        1547896 non-null  object
 2   age                             1547896 non-null  int64
 3   gender                          1547896 non-null  object
 4   country                         1547896 non-null  object
 5   urban_rural                     1547896 non-null  object
 6   income_level                    1547896 non-null  object
 7   employment_status               1547896 non-null  object
 8   education_level                 1547896 non-null  object
 9   relationship_status             1547896 non-null  object
 10  has_children                    1547896 non-null  object
 11  exercise_hours_per_week         1547896 non-null  float64
 12  sleep_hours_per_night           1547896 non-null  float64
 13  diet_quality                    1547896 non-null  object
 14  smoking                         1547896 non-null  object
 15  alcohol_frequency               1547896 non-null  object
 16  perceived_stress_score          1547896 non-null  int64
 17  self_reported_happiness         1547896 non-null  int64
 18  body_mass_index                 1547896 non-null  float64
 19  blood_pressure_systolic         1547896 non-null  int64
 20  blood_pressure_diastolic        1547896 non-null  int64
 21  daily_steps_count               1547896 non-null  int64
 22  weekly_work_hours               1547896 non-null  float64
 23  hobbies_count                   1547896 non-null  int64
 24  social_events_per_month         1547896 non-null  int64
 25  books_read_per_year             1547896 non-null  int64
 26  volunteer_hours_per_month       1547896 non-null  float64
 27  travel_frequency_per_year       1547896 non-null  int64
 28  daily_active_minutes_instagram  1547896 non-null  float64
 29  sessions_per_day                1547896 non-null  int64
 30  posts_created_per_week          1547896 non-null  int64
 31  reels_watched_per_day           1547896 non-null  int64
 32  stories_viewed_per_day          1547896 non-null  int64
 33  likes_given_per_day             1547896 non-null  int64
 34  comments_written_per_day        1547896 non-null  int64
 35  dms_sent_per_week               1547896 non-null  int64
 36  dms_received_per_week           1547896 non-null  int64
 37  ads_viewed_per_day              1547896 non-null  int64
 38  ads_clicked_per_day             1547896 non-null  int64
 39  time_on_feed_per_day            1547896 non-null  int64
 40  time_on_explore_per_day         1547896 non-null  int64
 41  time_on_messages_per_day        1547896 non-null  int64
 42  time_on_reels_per_day           1547896 non-null  int64
 43  followers_count                 1547896 non-null  int64
 44  following_count                 1547896 non-null  int64
 45  uses_premium_features           1547896 non-null  object
 46  notification_response_rate      1547896 non-null  float64
 47  account_creation_year           1547896 non-null  int64
 48  last_login_date                 1547896 non-null  object
 49  average_session_length_minutes  1547896 non-null  float64
 50  content_type_preference         1547896 non-null  object
 51  preferred_content_theme         1547896 non-null  object
 52  privacy_setting_level           1547896 non-null  object
 53  two_factor_auth_enabled         1547896 non-null  object
 54  biometric_login_used            1547896 non-null  object
 55  linked_accounts_count           1547896 non-null  int64
 56  subscription_status             1547896 non-null  object
 57  user_engagement_score           1547896 non-null  float64
dtypes: float64(9), int64(29), object(20)
memory usage: 685.0+ MB

,user_id,age,exercise_hours_per_week,sleep_hours_per_night,perceived_stress_score,self_reported_happiness,body_mass_index,blood_pressure_systolic,blood_pressure_diastolic,daily_steps_count,...,time_on_explore_per_day,time_on_messages_per_day,time_on_reels_per_day,followers_count,following_count,notification_response_rate,account_creation_year,average_session_length_minutes,linked_accounts_count,user_engagement_score
count,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,...,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06,1.547896e+06
mean,7.739485e+05,3.898544e+01,7.143480e+00,6.999384e+00,1.998774e+01,5.499804e+00,2.500084e+01,1.244917e+02,7.950007e+01,8.000105e+03,...,3.762037e+01,3.295203e+01,5.647662e+01,2.160543e+03,2.604942e+03,5.002404e-01,2.018466e+03,2.050971e+01,1.975254e+00,1.644642e+00
std,4.468392e+05,1.529453e+01,3.994556e+00,1.097098e+00,1.183258e+01,2.871232e+00,3.976188e+00,2.020699e+01,1.154874e+01,8.939761e+01,...,2.535788e+01,2.144569e+01,3.534782e+01,3.402016e+03,2.751922e+03,2.887827e-01,4.613253e+00,8.697454e+00,1.352058e+00,1.812684e+00
min,1.000000e+00,1.300000e+01,0.000000e+00,3.000000e+00,0.000000e+00,1.000000e+00,1.500000e+01,9.000000e+01,6.000000e+01,7.566000e+03,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,2.000000e+01,0.000000e+00,2.010000e+03,5.000000e+00,0.000000e+00,6.700000e-01
25%,3.869748e+05,2.600000e+01,4.000000e+00,6.300000e+00,1.000000e+01,3.000000e+00,2.230000e+01,1.070000e+02,7.000000e+01,7.940000e+03,...,1.800000e+01,1.600000e+01,2.900000e+01,5.430000e+02,6.630000e+02,2.500000e-01,2.015000e+03,1.330000e+01,1.000000e+00,1.000000e+00
50%,7.739485e+05,3.900000e+01,6.600000e+00,7.000000e+00,2.000000e+01,5.000000e+00,2.500000e+01,1.240000e+02,7.900000e+01,8.000000e+03,...,3.400000e+01,3.100000e+01,5.400000e+01,1.154000e+03,1.519000e+03,5.000000e-01,2.019000e+03,2.040000e+01,2.000000e+00,1.100000e+00
75%,1.160922e+06,5.200000e+01,9.700000e+00,7.700000e+00,3.000000e+01,8.000000e+00,2.770000e+01,1.420000e+02,9.000000e+01,8.060000e+03,...,5.300000e+01,4.700000e+01,8.000000e+01,2.459000e+03,3.451000e+03,7.500000e-01,2.022000e+03,2.760000e+01,3.000000e+00,1.290000e+00
max,1.547896e+06,6.500000e+01,2.410000e+01,1.000000e+01,4.000000e+01,1.000000e+01,4.500000e+01,1.590000e+02,9.900000e+01,8.473000e+03,...,1.710000e+02,1.380000e+02,2.220000e+02,2.088110e+05,1.000000e+04,1.000000e+00,2.026000e+03,5.200000e+01,5.000000e+00,1.867000e+01

In [5]:
import pandas as pd

# Cr√©er 4 groupes (Q1 ‚Üí Q4) selon le nombre de clics sur les pubs
df['ads_click_quartile'] = pd.qcut(
    df['ads_clicked_per_day'],
    4,
    labels=['Q1_Low', 'Q2_Medium', 'Q3_High', 'Q4_VeryHigh']
)

# V√©rifier la r√©partition
print(df['ads_click_quartile'].value_counts())

ads_click_quartile
Q3_High        457637
Q1_Low         411246
Q2_Medium      389731
Q4_VeryHigh    289282
Name: count, dtype: int64

In [12]:
import pandas as pd

# üîπ Cr√©er quartiles sur les clics publicitaires
df['ads_click_quartile'] = pd.qcut(
    df['ads_clicked_per_day'],
    4,
    labels=['Q1_Low', 'Q2_Medium', 'Q3_High', 'Q4_VeryHigh']
)

# üîπ Colonnes num√©riques
num_columns = [
    'age', 'exercise_hours_per_week', 'sleep_hours_per_night',
    'perceived_stress_score', 'self_reported_happiness',
    'body_mass_index', 'blood_pressure_systolic', 'blood_pressure_diastolic'
]

# üîπ Colonnes cat√©gorielles
cat_columns = ['income_level']  # on peut ajouter d'autres plus tard

# üîπ Moyennes pour les num√©riques
num_summary = df.groupby('ads_click_quartile')[num_columns].mean().round(2)

# üîπ Mode pour les cat√©gorielles
cat_summary = df.groupby('ads_click_quartile')[cat_columns].agg(lambda x: x.mode().iloc[0])

# üîπ Combiner num√©rique + cat√©goriel
summary = pd.concat([num_summary, cat_summary], axis=1)

# üîπ Cr√©er tableau ‚Äúligne = Clic le plus / Clic le moins / Diff√©rence‚Äù
table = pd.DataFrame({
    'Clic_le_plus': summary.loc['Q4_VeryHigh'],
    'Clic_le_moins': summary.loc['Q1_Low']
})

# üîπ Pour les num√©riques, calculer la diff√©rence
diff_numeric = table.loc[num_columns, 'Clic_le_plus'] - table.loc[num_columns, 'Clic_le_moins']
table.loc['Diff√©rence'] = diff_numeric

# üîπ Pour les colonnes cat√©gorielles, on met juste ‚Äú‚Äî‚Äù pour diff√©rence
for col in cat_columns:
    table.loc['Diff√©rence', col] = '‚Äî'

# üîπ Transposer pour affichage lignes = Clic le plus / Clic le moins / Diff√©rence
table_transposed = table.T

# üîπ Afficher tout correctement
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', '{:.2f}'.format)

table_transposed

/tmp/ipykernel_58627/3131438156.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  num_summary = df.groupby('ads_click_quartile')[num_columns].mean().round(2)
/tmp/ipykernel_58627/3131438156.py:24: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cat_summary = df.groupby('ads_click_quartile')[cat_columns].agg(lambda x: x.mode().iloc[0])

,age,exercise_hours_per_week,sleep_hours_per_night,perceived_stress_score,self_reported_happiness,body_mass_index,blood_pressure_systolic,blood_pressure_diastolic,income_level,Diff√©rence
Clic_le_plus,35.96,7.15,7.00,30.01,4.42,25.00,124.48,79.51,Middle,NaN
Clic_le_moins,41.87,7.14,7.00,10.54,6.52,25.00,124.45,79.50,Middle,NaN
income_level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,‚Äî

In [15]:
# üîπ Colonnes cat√©gorielles √† compter
cat_columns = ['income_level', 'subscription_status', 'relationship_status']

# üîπ Cr√©er un tableau final vide
final_table = pd.DataFrame()

for quartile in ['Clic_le_moins', 'Clic_le_plus']:
    # S√©lection du quartile
    df_q = df[df['ads_click_quartile'] == quartile]
    
    # Num√©riques ‚Üí moyenne
    num_mean = df_q[num_columns].mean().round(2)
    
    # Cat√©gorielles ‚Üí distribution (%) de chaque cat√©gorie
    cat_counts = {}
    for col in cat_columns:
        counts = df_q[col].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
        # On met les valeurs dans une cha√Æne genre "30k-50k:40%,50k-70k:60%"
        cat_counts[col] = ', '.join([f"{i}: {v}" for i,v in zip(counts.index, counts.values)])
    
    # Combiner num√©riques + cat√©gorielles
    row = pd.concat([num_mean, pd.Series(cat_counts)])
    final_table = pd.concat([final_table, row.to_frame().T], ignore_index=True)

# Renommer les lignes
final_table.index = ['Clic_le_moins', 'Clic_le_plus']

# Moyenne des num√©riques
mean_row = final_table[num_columns].astype(float).mean().round(2)
# Pour les cat√©gorielles, on peut mettre ‚Äú‚Äî‚Äù ou choisir le plus fr√©quent globalement
for col in cat_columns:
    mean_row[col] = '‚Äî'
final_table.loc['Moyenne'] = mean_row

final_table

,age,exercise_hours_per_week,sleep_hours_per_night,perceived_stress_score,self_reported_happiness,body_mass_index,blood_pressure_systolic,blood_pressure_diastolic,income_level,subscription_status,relationship_status
Clic_le_moins,41.87,7.14,7.00,10.54,6.52,25.00,124.45,79.50,"Middle: 30.0%, Lower-middle: 25.0%, Low: 20.0%...","Free: 75.0%, Premium: 15.0%, Business: 10.0%","Single: 42.4%, In a relationship: 25.0%, Marri..."
Clic_le_plus,35.96,7.15,7.00,30.01,4.42,25.00,124.48,79.51,"Middle: 29.9%, Lower-middle: 25.0%, Low: 20.1%...","Free: 75.0%, Premium: 15.0%, Business: 10.0%","Single: 44.2%, In a relationship: 24.9%, Marri..."
Moyenne,38.92,7.14,7.00,20.27,5.47,25.00,124.46,79.50,‚Äî,‚Äî,‚Äî

In [16]:
import pandas as pd
import numpy as np

# üîπ Cr√©er quartiles
df['ads_click_quartile'] = pd.qcut(
    df['ads_clicked_per_day'],
    4,
    labels=['Clic_le_moins', 'Q2', 'Q3', 'Clic_le_plus']
)

# üîπ Colonnes
num_columns = [
    'age', 'exercise_hours_per_week', 'sleep_hours_per_night',
    'perceived_stress_score', 'self_reported_happiness',
    'body_mass_index'
]

cat_columns = [
    'income_level',
    'subscription_status',
    'relationship_status'
]

# ==========================
# üîπ PARTIE NUM√âRIQUE
# ==========================

num_summary = df.groupby('ads_click_quartile')[num_columns].mean().round(2)

# ==========================
# üîπ PARTIE CAT√âGORIELLE
# ==========================

cat_summary = {}

for quartile in ['Clic_le_moins', 'Clic_le_plus']:
    df_q = df[df['ads_click_quartile'] == quartile]
    cat_summary[quartile] = {}
    
    for col in cat_columns:
        value = df_q[col].value_counts().idxmax()
        count = df_q[col].value_counts().max()
        cat_summary[quartile][col] = f"{value} ({count})"

cat_summary_df = pd.DataFrame(cat_summary).T

# ==========================
# üîπ COMBINAISON
# ==========================

table = pd.concat([
    num_summary.loc[['Clic_le_moins','Clic_le_plus']],
    cat_summary_df
], axis=1)

# ==========================
# üîπ DIFF√âRENCE NUM√âRIQUE
# ==========================

difference = (
    num_summary.loc['Clic_le_plus'] -
    num_summary.loc['Clic_le_moins']
).round(2)

# Ajouter diff√©rence
diff_row = pd.Series(index=table.columns)
diff_row[num_columns] = difference
diff_row[cat_columns] = "‚Äî"

table.loc['Diff√©rence'] = diff_row

# ==========================
# üîπ AFFICHAGE COMPLET
# ==========================

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

table

/tmp/ipykernel_58627/2234343167.py:28: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  num_summary = df.groupby('ads_click_quartile')[num_columns].mean().round(2)
/tmp/ipykernel_58627/2234343167.py:68: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '‚Äî' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  diff_row[cat_columns] = "‚Äî"

,age,exercise_hours_per_week,sleep_hours_per_night,perceived_stress_score,self_reported_happiness,body_mass_index,income_level,subscription_status,relationship_status
Clic_le_moins,41.87,7.14,7.00,10.54,6.52,25.00,Middle (123356),Free (308315),Single (174479)
Clic_le_plus,35.96,7.15,7.00,30.01,4.42,25.00,Middle (86557),Free (216947),Single (127968)
Diff√©rence,-5.91,0.01,0.00,19.47,-2.10,0.00,‚Äî,‚Äî,‚Äî